export(La)
export(alpha_kuwata)
export(array)
export(array_factor)
export(cd)
export(cda)
export(circular_dichroism_spectrum)
export(clust.equalangles)
export(clust.equalsizes)
export(curve.povray)
export(dispersion_spectrum)
export(epsAg)
export(epsAu)
export(helix)
export(helix.zt)
export(linear)
export(linear_extinction_spectrum)
export(make.invalpha)
export(makeDimerCluster)
export(makeDimerDihedral)
export(makeHelixCluster)
export(makeHelixCluster.zt)
export(makeRodChain)
export(makeSpheresCluster)
export(particles.povray)
export(polarizability.ellipsoid)
export(rgl.ellipsoid)
export(rgl.ellipsoids)
export(theme_minimal)
import(Rcpp)
useDynLib(cda)
