export(alpha_kuwata)
export(array_factor)
export(array)
export(cd)
export(cda)
export(circular_dichroism_spectrum)
export(cluster_chain)
export(cluster_dimer)
export(cluster_helix)
export(curve_povray)
export(dispersion_spectrum)
export(epsAg)
export(epsAu)
export(equal_angles)
export(equal_sizes)
export(helix)
export(inverse_polarizability)
export(La)
export(linear_extinction_spectrum)
export(linear)
export(particles_povray)
export(polarizability_ellipsoid)
export(rgl.ellipsoid)
export(rgl.ellipsoids)
import(Rcpp)
useDynLib(cda)
